<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
</head>
<body>
    <h1>Flask App</h1>
    <img src="{{ url_for('static', filename='img/flask.png') }}" alt="Flask Logo">
</body>
</html>